.faq {
    padding-top: 130px;
    position: relative;

    @include mobile {
        padding-top: 50px;
    }

    // &::before {
    //     content: '';
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     z-index: -1;
    //     background: url(../images/reasons-bg.png) no-repeat top;
    //     background-size: cover;
    //     background-position: 0 -1730px;
    //     mix-blend-mode: multiply;
    //     filter: blur(5px);
    // }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &--left {
            position: absolute;
            left: 0;
            top: 10%;

            @include mobile {
                display: none;
            }
        }

        &--right {
            position: absolute;
            right: 0;

            @include mobile {

                top: 100%;
                
                & img {
                    width: 200px;
                    height: 250px;
                    object-fit: cover;
                }
            }
        }
    }

    & .section__title {
        text-align: center;
        margin-bottom: 102px;

        @include phone {
            margin-bottom: 50px;
        }

        &::after {
            left: 50%;
            bottom: -32px;
            translate: -50% 0;

            @include phone {
                bottom: -20px;
            }

        }
    }

    &__list {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        counter-reset: item;
        column-gap: 35px;

        @include laptop {
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        margin-top: 25px;
        position: relative;

        break-inside: avoid;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        break-inside: avoid-column;

        background: linear-gradient(260deg, rgba(255, 255, 255, 0.10) -12.6%, rgba(255, 255, 255, 0.00) 78.85%),
            rgba(32, 30, 40, 0.60);
        border: 1px solid $white;
        border-bottom: none;
        border-style: solid;
        border-width: 1px;
        border-image: linear-gradient(to bottom, #444, $transparent) 1;
        filter: drop-shadow(0px 3px 3.112194299697876px rgba(0, 0, 0, 0.10)) drop-shadow(0px 7px 6.922032356262207px rgba(0, 0, 0, 0.12));

        @include laptop {
            margin-top: 15px;
        }

        @include mobile {
            padding: 0 15px;
        }

        &:first-child {
            margin-top: 0;
        }

        &:nth-of-type(5) {

            h5 {
                max-width: 316px;

                @include laptop {
                    max-width: none;
                }
            }
        }

        &::before {
            position: absolute;
            top: 16px;
            left: 20px;
            counter-increment: item;
            content: counter(item, decimal-leading-zero);
            font-size: 20px;
            text-transform: uppercase;
            background: radial-gradient(50% 50% at 50% 50%, #F8CC58 22.92%, rgba(248, 204, 88, 0.55) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @include mobile {
                top: 14px;
            }
        }

    }

    &__title {
        display: flex;
        align-items: center;
        height: 60px;
        max-width: 435px;
        font-feature-settings: 'liga' off;
        font-family: 'TTNorms';
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        margin: 0 20px 0 40px;

        @include mobile {
            height: 50px;
            font-size: 12px;
        }

        &:hover {

            &::before,
            &::after {
                background: $red;
                box-shadow: 0px 2px 4px 0px #000;
            }
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            // top: 26px;
            right: 10px;
            translate: -50% 0;
            width: 14px;
            height: 2px;
            background: $white;
            opacity: .5;
            transition: all .3s ease;
        }

        &::after {
            rotate: 90deg;
        }

        &.active {

            &::before,
            &::after {
                background: $red;
                box-shadow: 0px 2px 4px 0px #000;
            }

            &::after {
                rotate: 0deg;
            }
        }
    }

    &__text {
        display: none;
        padding: 20px 0;
        color: rgba(255, 255, 255, 0.60);
        font-feature-settings: 'liga' off;
        font-family: 'TTNorms';
        font-size: 14px;
        position: relative;

        @include mobile {
            font-size: 12px;
        }

        @include phone {
            font-size: 10px;
            padding: 15px 0;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: $white;
            opacity: .1;
        }
    }
}