.hero {
    background: url(../images/hero/hero-bg2.png) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding: 235px 0 198px;

    @include laptop {
        padding: 150px 0;
    }

    @include mobile {
        padding: 80px 0 0;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0%;
        bottom: 0;
        width: 400px;
        height: 100%;
        background: url(../images/hero/tree.png) no-repeat;
        z-index: -1;

        @include laptop {
            top: 40%;
        }

        @include tablet {
            top: 20%;
        }

        @include mobile{
            top: 40%;
            width: 20%;
            height: 50%;
            background-size: cover;
        }
    }

    &__wrapper {
        max-width: 600px;

        @include laptop {
            max-width: none
        }
    }

    &__title {
        font-size: 48px;

        @include tablet {
            font-size: 32px;
        }

        @include mobile {
            font-size: 24px;
        }

        & span {
            color: $yellow;
        }
    }

    &__text {
        font-feature-settings: 'liga' off;
        font-family: 'TTNorms';
        margin-top: 35px;
        margin-left: 95px;
        max-width: 480px;
        position: relative;

        @include mobile {
            font-size: 12px;
            max-width: 265px;
            margin-left: 25px;
        }

        &::before {
            content: '';
            display: block;
            width: 70px;
            height: 2px;
            background-color: $yellow;
            position: absolute;
            right: calc(100% + 25px);
            top: 50%;
            translate: 0 -50%;

            @include mobile {
                width: 15px;
                right: calc(100% + 10px);
                top: 20%;
                translate: 0 -20%;
            }
        }
    }

    &__list {
        padding: 100px 0 88px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 84px 38px;

        @include laptop {
            padding: 50px 0 0 0;
        }

        @include mobile {
            gap: 22px 10px;
        }
    }

    &__item {
        max-width: 225px;

        & span {
            color: $yellow;
            text-shadow: 0px 4px 110px rgba(248, 204, 88, 0.50);
            font-size: 40px;
            font-weight: 700;
            text-transform: capitalize;

            @include mobile {
                font-size: 26px;
            }

            @include phone {
                font-size: 20px;
            }
        }

        & p {
            margin-top: 8px;
            color: rgba(255, 255, 255, 0.60);
            font-feature-settings: 'liga' off;
            font-family: 'TTNorms';
            max-width: 150px;

            @include mobile {
                font-size: 14px;
            }

            @include phone {
                font-size: 12px;
            }
        }
    }

    &__img {
        width: 60%;
        position: absolute;
        top: 50%;
        right: 0;
        translate: -0% -50%;

        @include laptop {
            position: relative;
            right: -20px;
            translate: 0 0;
            width: 100%;
        }

        @include mobile {
            right: -35px;
        }
    }

    &__scroll {
        width: 31px;
        height: 31px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $transparent;

        @include laptop {
            position: absolute;
            bottom: 15%;
            left: 50%;
            translate: -50% 0;
            z-index: 2;
        }

        @include mobile {
            bottom: 5%;
        }

        & path {
            transition: all .3s ease;
        }

        &:hover path {
            fill-opacity: 1;
        }
    }
}