.purpose {
    padding-top: 130px;

    & .section__title {
        text-align: center;
        margin-bottom: 72px;

        &::after {
            bottom: -22px;
            left: 50%;
            translate: 0 -50%;
        }
    }

    &__content {
        padding: 25px 20px 35px;
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            display: block;
            background: url(../images/texturefabrik.png) no-repeat center;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            filter: contrast(.5);
        }

        & h3 {
            color: $yellow;
            text-align: center;
            font-feature-settings: 'liga' off;
            font-size: 24px;
            font-weight: 700;
        }

        & p {
            color: rgba(255, 255, 255, 0.80);
            text-align: center;
            font-feature-settings: 'liga' off;
            font-family: 'TTNorms';
            max-width: 1000px;
            margin: 17px auto 0;
        }

        & .decor {
            position: absolute;
        }

        & .decor1 {
            top: 20px;
            left: 20px;
        }

        & .decor2 {
            top: 20px;
            right: 20px;
            rotate: 90deg;
        }

        & .decor3 {
            bottom: 20px;
            left: 20px;
            rotate: -90deg;
        }

        & .decor4 {
            bottom: 20px;
            right: 20px;
            rotate: 180deg;
        }
    }
}