.success {
    padding-top: 130px;
    position: relative;

    @include mobile {
        padding-top: 50px;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        height: 2500px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        background: url(../images/success-bg.png) no-repeat top;
        background-size: cover;
        background-position: 0 -200px;
        mix-blend-mode: multiply;
        filter: blur(5px);
    }

    &::after {
        content: '';
        display: block;
        width: 500px;
        height: 500px;
        position: absolute;
        left: 0%;
        top: 30%;
        z-index: -1;
        background: url(../images/tree/success.png) no-repeat center;
        background-size: cover;

        @include mobile {
            display: none;
        }
    }

    & .section__title {
        text-align: center;
        margin-bottom: 102px;

        &::after {
            bottom: -32px;
            left: 50%;
            translate: -50% 0;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        @include phone {
            gap: 10px;
        }
    }

    &__item {
        position: relative;
        max-width: 255px;
        min-height: 255px;

        position: relative;
        transition: all 0.5s ease;

        @include tablet {
            max-width: 25%;
            min-width: 140px;
            min-height: 140px;
        }

        &:hover {
            &::after {
                background: rgba(9, 10, 18, 0.60);
                backdrop-filter: blur(13.5px);
            }

            & .success__desc {
                padding: 20px;
            }

            & .price {
                text-align: center;
            }

            & .more {
                visibility: visible;
                opacity: 1;
                height: auto;
                overflow: visible;
                margin-top: 10px;
                font-size: 10px;
            }

            & h5,
            & p {
                opacity: 0;
                visibility: hidden;
                height: 0;
                overflow: hidden;
            }
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
        }

        & .sold {
            position: absolute;
            top: -46px;
            right: -49px;
            z-index: 1;

            @include tablet {
                width: 140px;
                top: -36px;
                right: -38px;
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s ease;
        opacity: .7;
    }

    &__desc {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 27px 20px 16px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 1;
        transition: all .3s ease;

        @include tablet {
            padding: 13px 8px 10px;
        }

        & .price {
            margin-bottom: auto;
            width: 100%;
            color: #FFF;
            font-size: 24px;
            font-weight: 700;
            text-transform: capitalize;
            transition: all .3s ease;

            @include tablet {
                font-size: 14px;
            }
        }

        & h5 {
            margin-top: 80px;
            color: #FFF;
            font-family: 'TTNorms';
            font-weight: 700;

            @include tablet {
                margin-top: 20px;
                font-size: 10px;
                max-width: 75px;
            }
        }

        & p {
            margin-top: 9px;
            color: rgba(255, 255, 255, 0.60);
            font-feature-settings: 'liga' off;
            font-family: 'TTNorms';
            font-size: 14px;

            @include tablet {
                font-size: 8px;
            }
        }
    }

    & .more {
        max-width: 93px;
        height: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #FFF;
        font-family: 'TTNorms';
        font-size: 16px;
        font-weight: 700;
        background-color: $transparent;
        margin: 0px auto;
        text-align: center;
        cursor: pointer;
        transition: all .3s ease;

        & img {
            margin-bottom: 11px;

            @include tablet {
                width: 30px;
            }
        }

        &:hover {
            scale: 1.1;
        }
    }
}