body {
    font-family: 'TrajanPro', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    background-color: $dark;
    color: $white;

    &.lock {
        height: 800px;
        overflow: hidden;
    }

}

.main {
    width: 100%;
    min-height: 100vh;
}

.container {
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;

    // @include phone {
    //     padding: 0 35px;
    // }
}

.navigation {
    margin-left: 54px;

    &.active {

        @include laptop {
            padding: 25px 32px;
            opacity: 1;
            width: 360px;
            z-index: 2;
            background: url(/assets/images/hero/hero-bg2.png) no-repeat center, $dark;
        }
    }

    @include desktop {
        margin-left: 30px;
    }

    @include laptop {
        margin-left: 0px;
        position: absolute;
        top: 0%;
        right: 0;
        padding: 25px 0px;
        width: 0px;
        height: 100vh;
        min-height: 800px;
        overflow: hidden;
        opacity: 0;
        transition: all .3s ease;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 10px;

        @include laptop {
            flex-direction: column;
            margin: 100px 0 0 0;
            align-items: flex-start;
        }
    }

    &__item {
        padding: 20px 10px;
        position: relative;

        @include laptop {
            padding: 0;
        }

        &.active::before {
            content: '';
            display: block;
            width: 100%;
            height: 40px;
            background: linear-gradient(to bottom, $yellow, $dark);
            position: absolute;
            bottom: 100%;
            left: 0;
            opacity: .2;

            @include laptop {
                display: none;
            }
        }

        &.active::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: $yellow;
            position: absolute;
            bottom: calc(100% + 38px);
            left: 0;

            @include laptop {
                bottom: 0;
            }
        }
    }

    &__link {
        color: $white;
        font-family: 'TTNorms';
        font-size: 14px;
        transition: all .3s ease;

        &:hover {
            color: $yellow;
        }
    }
}

.call {
    margin-left: auto;
    display: flex;
    align-items: center;
    color: $white;
    font-size: 20px;
    font-weight: 700;
    transition: all .3s ease;

    @include desktop {
        font-size: 18px;
    }

    @include laptop {
        z-index: 2;
    }

    @include mobile {
        font-size: 16px;
    }

    @include phone {
        font-size: 10px;
    }

    &:hover {
        color: $yellow;
        filter: drop-shadow(0px 4px 50px #F8CC58);
    }

    & svg {
        fill: $yellow;
        margin-right: 10px;
        filter: drop-shadow(0px 4px 50px $yellow);
    }
}

.section__title {
    font-size: 40px;
    position: relative;

    @include tablet {
        font-size: 6vw;
    }

    @include phone {
        font-size: 20px!important;
    }

    &::after {
        content: '';
        display: block;
        width: 70px;
        height: 2px;
        background-color: $yellow;
        position: absolute;

        @include phone {
            width: 30px;
        }
    }

    & span {
        color: $yellow;
    }
}