/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, :before, :after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

@font-face {
  font-family: "TrajanPro";
  src: url("../fonts/TrajanPro-Regular.woff"), url("../fonts/TrajanPro-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TrajanPro";
  src: url("../fonts/TrajanPro-Bold.woff"), url("../fonts/TrajanPro-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Regular.woff"), url("../fonts/TTNorms-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Bold.woff"), url("../fonts/TTNorms-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "TrajanPro", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  background-color: #0F0E13;
  color: #FFF;
}
body.lock {
  height: 800px;
  overflow: hidden;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 560px) {
  .container {
    padding: 0 15px;
  }
}

.navigation {
  margin-left: 54px;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.navigation__item {
  padding: 20px 10px;
  position: relative;
}
.navigation__item.active::before {
  content: "";
  display: block;
  width: 100%;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F8CC58), to(#0F0E13));
  background: linear-gradient(to bottom, #F8CC58, #0F0E13);
  position: absolute;
  bottom: 100%;
  left: 0;
  opacity: 0.2;
}
.navigation__item.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #F8CC58;
  position: absolute;
  bottom: calc(100% + 38px);
  left: 0;
}
.navigation__link {
  color: #FFF;
  font-family: "TTNorms";
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation__link:hover {
  color: #F8CC58;
}

.call {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.call:hover {
  color: #F8CC58;
  -webkit-filter: drop-shadow(0px 4px 50px #F8CC58);
          filter: drop-shadow(0px 4px 50px #F8CC58);
}
.call svg {
  fill: #F8CC58;
  margin-right: 10px;
  -webkit-filter: drop-shadow(0px 4px 50px #F8CC58);
          filter: drop-shadow(0px 4px 50px #F8CC58);
}

.section__title {
  font-size: 40px;
  position: relative;
}
.section__title::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #F8CC58;
  position: absolute;
}
.section__title span {
  color: #F8CC58;
}

.hero,
.about,
.services,
.advertising,
.purpose,
.success,
.process,
.reviews,
.reasons,
.faq,
.footer {
  display: none;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.header.fixed {
  position: fixed;
  background-color: #0F0E13;
}
.header.fixed .header__wrapper {
  padding: 20px 0;
}
.header.fixed .navigation__item {
  padding: 10px;
}
.header.fixed .navigation__item.active::before {
  height: 20px;
}
.header.fixed .navigation__item.active::after {
  bottom: calc(100% + 18px);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}
.header__logo {
  max-height: 35px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__logo:hover {
  scale: 1.05;
}
.header__burger {
  width: 18px;
  height: 18px;
  margin-left: 18px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
@media (max-width: 768px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__burger span {
  width: 100%;
  height: 2px;
  background-color: #F8CC58;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__burger span::before, .header__burger span::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background-color: #F8CC58;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__burger span::before {
  top: 0;
}
.header__burger span::after {
  bottom: 0;
}
.header__burger.active span {
  width: 0;
}
.header__burger.active span::before {
  rotate: 45deg;
  top: 8px;
}
.header__burger.active span::after {
  rotate: -45deg;
  bottom: 8px;
}

.hero {
  background: url(../images/hero/hero-bg2.png) no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: 235px 0 198px;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 400px;
  height: 100%;
  background: url(../images/hero/tree.png) no-repeat;
  -webkit-box-shadow: 0px 4px 250px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 250px 0px rgba(0, 0, 0, 0.2);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.hero__wrapper {
  position: relative;
  z-index: 1;
  max-width: 600px;
}
.hero__title {
  font-size: 48px;
}
.hero__title span {
  color: #F8CC58;
}
.hero__text {
  font-family: "TTNorms";
  margin-top: 35px;
  margin-left: 95px;
  max-width: 480px;
  position: relative;
}
.hero__text::before {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #F8CC58;
  position: absolute;
  right: calc(100% + 25px);
  top: 50%;
  translate: 0 -50%;
}
.hero__list {
  padding: 100px 0 88px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 84px 38px;
}
.hero__item {
  max-width: 225px;
}
.hero__item span {
  color: #F8CC58;
  text-shadow: 0px 4px 110px rgba(248, 204, 88, 0.5);
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}
.hero__item p {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  max-width: 150px;
}
.hero__img {
  width: 60%;
  position: absolute;
  bottom: 0%;
  right: 0;
  translate: 0% 0%;
}
.hero__scroll {
  width: 31px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
}
.hero__scroll path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hero__scroll:hover path {
  fill-opacity: 1;
}

.footer {
  padding-top: 103px;
  position: relative;
}
.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url(../images/footer-bg.png) no-repeat center;
  mix-blend-mode: multiply;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 768px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__content {
  max-width: 210px;
  margin-right: 173px;
}
@media (max-width: 1000px) {
  .footer__content {
    margin-right: 60px;
  }
}
@media (max-width: 430px) {
  .footer__content {
    margin-right: 0;
  }
  .footer__content .footer__text {
    display: none;
  }
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__logo:hover {
  scale: 1.1;
}
.footer__logo img {
  max-height: 36px;
}
@media (max-width: 430px) {
  .footer__logo {
    margin-bottom: 0;
  }
}
.footer__text {
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 12px;
}
@media (max-width: 430px) {
  .footer__nav {
    margin-right: 0px;
  }
}
.footer__nav--title {
  color: #F8CC58;
  font-size: 20px;
  font-weight: 700;
}
.footer__list {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px 70px;
}
@media (max-width: 1000px) {
  .footer__list {
    grid-gap: 30px 50px;
  }
}
@media (max-width: 560px) {
  .footer__list {
    grid-gap: 30px;
  }
}
@media (max-width: 430px) {
  .footer__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__list--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  font-size: 14px;
  letter-spacing: -0.49px;
}
.footer__contact {
  margin-left: auto;
}
.footer .mail {
  margin: 24px 0 0 0;
  font-size: 14px;
}
.footer .copy {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  margin-top: 92px;
}
.footer .copy__text {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: "TTNorms";
  font-size: 13px;
}
@media (max-width: 560px) {
  .footer .copy {
    margin-top: 40px;
  }
}

.about {
  position: relative;
  top: -68px;
}
.about::before {
  content: "";
  display: block;
  width: 100%;
  height: 2800px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url(../images/about-bg.png) no-repeat top;
  background-size: cover;
  background-position: 0 -300px;
  mix-blend-mode: multiply;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 95px;
}
.about .section__title {
  margin-bottom: 72px;
}
.about .section__title::after {
  left: 0;
  bottom: -42px;
}
.about p {
  margin-bottom: 30px;
  font-family: "TTNorms";
  color: #FFF;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-size: 18px;
}
.about p:last-child {
  margin: 0;
}

.services {
  padding-top: 62px;
}
.services .section__title {
  text-align: center;
}
.services .section__title::after {
  left: 50%;
  translate: -50% 0;
  bottom: -30px;
}
.services__list {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 30px;
}
.services__item {
  padding: 34px 30px;
  position: relative;
  background: linear-gradient(224deg, rgba(255, 255, 255, 0.1) -25.17%, rgba(255, 255, 255, 0) 100%), rgba(32, 30, 40, 0.6);
}
.services__item span {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: -26px;
  translate: -50% 0;
  background-color: #F8CC58;
  border-radius: 50%;
}
.services__item h4 {
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.services__item p {
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
}

.faq {
  padding-top: 130px;
}
.faq .section__title {
  text-align: center;
  margin-bottom: 102px;
}
.faq .section__title::after {
  left: 50%;
  bottom: -32px;
  translate: -50% 0;
}
.faq__list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  counter-reset: item;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}
.faq__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  margin-top: 25px;
  position: relative;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  background: linear-gradient(260deg, rgba(255, 255, 255, 0.1) -12.6%, rgba(255, 255, 255, 0) 78.85%), rgba(32, 30, 40, 0.6);
  border: 1px solid #FFF;
  border-bottom: none;
  border-style: solid;
  border-width: 1px;
  -o-border-image: linear-gradient(to bottom, #444, transparent) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(transparent)) 1;
     border-image: linear-gradient(to bottom, #444, transparent) 1;
  -webkit-filter: drop-shadow(0px 3px 3.1121942997px rgba(0, 0, 0, 0.1)) drop-shadow(0px 7px 6.9220323563px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(0px 3px 3.1121942997px rgba(0, 0, 0, 0.1)) drop-shadow(0px 7px 6.9220323563px rgba(0, 0, 0, 0.12));
}
.faq__item:first-child {
  margin-top: 0;
}
.faq__item:nth-of-type(5) h5 {
  max-width: 316px;
}
.faq__item::before {
  position: absolute;
  top: 16px;
  left: 20px;
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  font-size: 20px;
  text-transform: uppercase;
  background: radial-gradient(50% 50% at 50% 50%, #F8CC58 22.92%, rgba(248, 204, 88, 0.55) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.faq__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  max-width: 435px;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 40px;
}
.faq__title:hover::before, .faq__title:hover::after {
  background: #F66350;
  -webkit-box-shadow: 0px 2px 4px 0px #000;
          box-shadow: 0px 2px 4px 0px #000;
}
.faq__title::before, .faq__title::after {
  content: "";
  position: absolute;
  right: 10px;
  translate: -50% 0;
  width: 14px;
  height: 2px;
  background: #FFF;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.faq__title::after {
  rotate: 90deg;
}
.faq__title.active::before, .faq__title.active::after {
  background: #F66350;
  -webkit-box-shadow: 0px 2px 4px 0px #000;
          box-shadow: 0px 2px 4px 0px #000;
}
.faq__title.active::after {
  rotate: 0deg;
}
.faq__text {
  display: none;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 14px;
  position: relative;
}
.faq__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #FFF;
  opacity: 0.1;
}

.advertising {
  padding-top: 130px;
}
.advertising__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.advertising__container {
  max-width: 560px;
}
.advertising__img {
  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;
}
.advertising .section__title::after {
  bottom: -22px;
}
.advertising__content {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 38px;
  padding: 37px 45px;
  border-radius: 10px;
  border: 2px dashed rgba(255, 255, 255, 0.1);
}
.advertising__desc {
  max-width: 355px;
}
.advertising__desc h3 {
  color: #F8CC58;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-size: 24px;
  font-weight: 700;
}
.advertising__desc p {
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 18px;
}

.purpose {
  padding-top: 130px;
}
.purpose .section__title {
  text-align: center;
  margin-bottom: 72px;
}
.purpose .section__title::after {
  bottom: -22px;
  left: 50%;
  translate: 0 -50%;
}
.purpose__content {
  padding: 25px 20px 35px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.purpose__content::after {
  content: "";
  display: block;
  background: url(../images/texturefabrik.png) no-repeat center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-filter: contrast(0.5);
          filter: contrast(0.5);
}
.purpose__content h3 {
  color: #F8CC58;
  text-align: center;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-size: 24px;
  font-weight: 700;
}
.purpose__content p {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  max-width: 1000px;
  margin: 17px auto 0;
}
.purpose__content .decor {
  position: absolute;
}
.purpose__content .decor1 {
  top: 20px;
  left: 20px;
}
.purpose__content .decor2 {
  top: 20px;
  right: 20px;
  rotate: 90deg;
}
.purpose__content .decor3 {
  bottom: 20px;
  left: 20px;
  rotate: -90deg;
}
.purpose__content .decor4 {
  bottom: 20px;
  right: 20px;
  rotate: 180deg;
}

.success {
  padding-top: 130px;
  position: relative;
}
.success::before {
  content: "";
  display: block;
  width: 100%;
  height: 2800px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url(../images/success-bg.png) no-repeat top;
  background-size: cover;
  background-position: 0 -200px;
  mix-blend-mode: multiply;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.success .section__title {
  text-align: center;
  margin-bottom: 102px;
}
.success .section__title::after {
  bottom: -32px;
  left: 50%;
  translate: 0 -50%;
}
.success__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.success__item {
  position: relative;
  max-width: 255px;
  min-height: 255px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.success__item:hover::after {
  background: rgba(9, 10, 18, 0.6);
  -webkit-backdrop-filter: blur(13.5px);
          backdrop-filter: blur(13.5px);
}
.success__item:hover .success__desc {
  padding: 40px 20px;
}
.success__item:hover .price {
  text-align: center;
}
.success__item:hover .more {
  visibility: visible;
  opacity: 1;
  height: auto;
  overflow: visible;
}
.success__item:hover h5, .success__item:hover p {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
.success__item::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.success__item .sold {
  position: absolute;
  top: -46px;
  right: -49px;
  z-index: 1;
}
.success__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.success__desc {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 27px 20px 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.success__desc .price {
  margin-bottom: 20px;
  width: 100%;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.success__desc h5 {
  margin-top: 80px;
  color: #FFF;
  font-family: "TTNorms";
  font-weight: 700;
}
.success__desc p {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 14px;
}
.success .more {
  max-width: 93px;
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFF;
  font-family: "TTNorms";
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  margin: 0px auto;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.success .more img {
  margin-bottom: 11px;
}
.success .more:hover {
  scale: 1.1;
}

.process {
  padding-top: 130px;
}
.process .section__title {
  text-align: center;
  margin-bottom: 82px;
}
.process .section__title::after {
  bottom: -32px;
  left: 50%;
  translate: 0 -50%;
}
.process__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 115px 30px;
}
.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 20px;
}
.process__item::after {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  background: url(/assets/images/icon/Line2.svg) no-repeat center;
  position: absolute;
  top: 40px;
  right: -25px;
}
.process__item:last-child::after {
  display: none;
}
.process__item:nth-child(3):after {
  top: calc(100% + 45px);
  right: 50%;
  translate: -50% 0;
  rotate: 90deg;
}
.process__item:nth-child(4):after, .process__item:nth-child(5):after {
  rotate: 180deg;
}
.process__item img {
  max-width: 80px;
}
.process__item p {
  margin-top: 20px;
  text-align: center;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.reviews {
  padding-top: 130px;
}
.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__content {
  max-width: 330px;
}
.reviews__content p {
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 18px;
  margin-bottom: 20px;
}
.reviews__content p:last-child {
  margin: 0;
}
.reviews .section__title {
  margin-bottom: 52px;
}
.reviews .section__title::after {
  bottom: -22px;
}
.reviews .arrows__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}
.reviews .arrows__slider .slick-arrow {
  width: 60px;
  height: 49px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(224deg, rgba(255, 255, 255, 0.1) -71.23%, rgba(255, 255, 255, 0) 94.99%), #201E28;
  border: 1px solid #444;
  border-bottom: none;
  -webkit-filter: drop-shadow(0px 3px 3.1121942997px rgba(0, 0, 0, 0.1)) drop-shadow(0px 7px 6.9220323563px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(0px 3px 3.1121942997px rgba(0, 0, 0, 0.1)) drop-shadow(0px 7px 6.9220323563px rgba(0, 0, 0, 0.12));
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.reviews .arrows__slider .slick-arrow svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.reviews .arrows__slider .slick-arrow:hover {
  background: linear-gradient(235deg, rgba(0, 0, 0, 0.1) 5.85%, rgba(0, 0, 0, 0) 99.33%), #F8CC58;
  border: 1px solid #F8CC58;
  border-bottom: none;
}
.reviews .arrows__slider .slick-arrow:hover svg path {
  stroke: #0F0E13;
}
.reviews .arrows__slider .slick-prev svg path {
  stroke: #FFF;
}
.reviews .arrows__slider .slick-disabled {
  opacity: 0.5;
  cursor: default;
}
.reviews .arrows__slider .slick-disabled:hover {
  background: linear-gradient(224deg, rgba(255, 255, 255, 0.1) -71.23%, rgba(255, 255, 255, 0) 94.99%), #201E28;
  border: 1px solid #444;
  border-bottom: none;
}
.reviews .arrows__slider .slick-disabled:hover svg path {
  stroke: #FFF;
}
.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 655px;
}
.reviews__item {
  width: 310px;
  min-height: 419px;
  margin-right: 35px;
  padding: 30px 30px 87px;
  background: linear-gradient(224deg, rgba(255, 255, 255, 0.1) -25.17%, rgba(255, 255, 255, 0) 100%), rgba(32, 30, 40, 0.6);
  -webkit-box-shadow: 0px 3px 3.11219px 0px rgba(0, 0, 0, 0.1), 0px 7px 6.92203px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 3.11219px 0px rgba(0, 0, 0, 0.1), 0px 7px 6.92203px 0px rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
.reviews__item p {
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  margin-top: 20px;
  opacity: 0.6;
}
.reviews__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__author img {
  width: 70px;
  height: 70px;
}
.reviews__info {
  margin-left: 15px;
}
.reviews__info h5 {
  font-family: "TTNorms";
  font-size: 20px;
  font-weight: 700;
}
.reviews__info span {
  color: rgba(255, 255, 255, 0.6);
  font-family: "TTNorms";
  font-size: 12px;
  opacity: 0.6;
}

.reasons {
  padding-top: 130px;
  position: relative;
}
.reasons::before {
  content: "";
  display: block;
  width: 100%;
  height: 2300px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url(../images/reasons-bg.png) no-repeat top;
  background-size: cover;
  background-position: 0 -200px;
  mix-blend-mode: multiply;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.reasons .section__title {
  text-align: center;
  margin-bottom: 102px;
}
.reasons .section__title::after {
  left: 50%;
  bottom: -32px;
  translate: -50% 0;
}
.reasons__list {
  counter-reset: item;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px 79px;
}
.reasons__item {
  padding-top: 46px;
  position: relative;
}
.reasons__item::before {
  position: absolute;
  top: 0;
  left: 0;
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  text-shadow: 0px 4px 110px rgba(255, 255, 255, 0.3);
  font-size: 64px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(75.32%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0) 75.32%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reasons__item img {
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
}
.reasons__item h4 {
  margin: 23px 0 15px;
  color: #F66350;
  font-size: 30px;
  text-transform: capitalize;
}
.reasons__item p {
  max-width: 360px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
}/*# sourceMappingURL=style.css.map */