/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, :before, :after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

@font-face {
  font-family: "TrajanPro";
  src: url("../fonts/TrajanPro-Regular.woff"), url("../fonts/TrajanPro-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TrajanPro";
  src: url("../fonts/TrajanPro-Bold.woff"), url("../fonts/TrajanPro-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Regular.woff"), url("../fonts/TTNorms-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Bold.woff"), url("../fonts/TTNorms-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "TrajanPro", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  background-color: #0F0E13;
  color: #FFF;
}
body.lock {
  height: 800px;
  overflow: hidden;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.navigation {
  margin-left: 54px;
}
@media (max-width: 1000px) {
  .navigation.active {
    padding: 25px 32px;
    opacity: 1;
    width: 360px;
    z-index: 2;
    background: url(/assets/images/hero/hero-bg2.png) no-repeat center, #0F0E13;
  }
}
@media (max-width: 1150px) {
  .navigation {
    margin-left: 30px;
  }
}
@media (max-width: 1000px) {
  .navigation {
    margin-left: 0px;
    position: absolute;
    top: 0%;
    right: 0;
    padding: 25px 0px;
    width: 0px;
    height: 100vh;
    min-height: 800px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media (max-width: 1000px) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 100px 0 0 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.navigation__item {
  padding: 20px 10px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1000px) {
  .navigation__item {
    padding: 0;
  }
}
.navigation__link {
  color: #FFF;
  font-family: "TTNorms";
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F8CC58), to(#0F0E13));
  background: linear-gradient(to bottom, #F8CC58, #0F0E13);
  position: absolute;
  bottom: 100%;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1000px) {
  .navigation__link::before {
    display: none;
  }
}
.navigation__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #F8CC58;
  position: absolute;
  bottom: calc(100% + 38px);
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1000px) {
  .navigation__link::after {
    bottom: 0;
  }
}
.navigation__link:hover {
  color: #F8CC58;
}
.navigation__link:hover::before {
  opacity: 0.2;
}
.navigation__link:hover::after {
  opacity: 1;
}

.call {
  margin-left: auto;
  position: relative;
  padding-left: 30px;
  line-height: 1;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.call::before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  background: url(/assets/images/icon/phone.svg) no-repeat center;
}
@media (max-width: 768px) {
  .call {
    font-size: 16px;
  }
  .call::before {
    height: 14px;
    width: 14px;
    background-size: contain;
  }
}
@media (max-width: 430px) {
  .call {
    font-size: 12px;
    padding-left: 20px;
  }
  .call::before {
    height: 10px;
    width: 10px;
  }
}
.call:hover {
  color: #F8CC58;
  -webkit-filter: drop-shadow(0px 4px 50px #F8CC58);
          filter: drop-shadow(0px 4px 50px #F8CC58);
}

.section__title {
  font-size: 40px;
  position: relative;
}
@media (max-width: 768px) {
  .section__title {
    font-size: 6vw;
  }
}
@media (max-width: 430px) {
  .section__title {
    font-size: 20px !important;
  }
}
.section__title::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #F8CC58;
  position: absolute;
}
@media (max-width: 430px) {
  .section__title::after {
    width: 30px;
  }
}
.section__title span {
  color: #F8CC58;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.header.fixed {
  position: fixed;
  background-color: #0F0E13;
}
.header.fixed .header__wrapper {
  padding: 25px 0;
}
.header.fixed .navigation__item {
  padding: 10px;
}
.header.fixed .navigation__link::before {
  height: 22px;
}
.header.fixed .navigation__link::after {
  bottom: calc(100% + 22px);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}
@media (max-width: 1000px) {
  .header__wrapper {
    padding: 25px 0;
  }
}
@media (max-width: 430px) {
  .header__wrapper {
    padding: 20px 0;
  }
}
.header__logo {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__logo:hover {
  scale: 1.05;
}
.header__logo img {
  width: 147px;
  height: auto;
}
@media (max-width: 560px) {
  .header__logo img {
    width: 118px;
  }
}
@media (max-width: 430px) {
  .header__logo img {
    width: 89px;
  }
}
.header__burger {
  width: 18px;
  height: 18px;
  margin-left: 18px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
@media (max-width: 1000px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__burger span {
  width: 100%;
  height: 2px;
  background-color: #F8CC58;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__burger span::before, .header__burger span::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background-color: #F8CC58;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__burger span::before {
  top: 0;
}
.header__burger span::after {
  bottom: 0;
}
.header__burger.active span {
  width: 0;
}
.header__burger.active span::before {
  rotate: 45deg;
  top: 8px;
}
.header__burger.active span::after {
  rotate: -45deg;
  bottom: 8px;
}

.hero {
  background: url(../images/hero/hero-bg2.png) no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: 235px 0 198px;
}
@media (max-width: 1000px) {
  .hero {
    padding: 150px 0;
  }
}
@media (max-width: 560px) {
  .hero {
    padding: 80px 0 0;
  }
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 400px;
  height: 100%;
  background: url(../images/hero/tree.png) no-repeat;
  z-index: -1;
}
@media (max-width: 1000px) {
  .hero::after {
    top: 40%;
  }
}
@media (max-width: 768px) {
  .hero::after {
    top: 20%;
  }
}
@media (max-width: 560px) {
  .hero::after {
    top: 40%;
    width: 20%;
    height: 50%;
    background-size: cover;
  }
}
.hero__wrapper {
  max-width: 600px;
}
@media (max-width: 1000px) {
  .hero__wrapper {
    max-width: none;
  }
}
.hero__title {
  font-size: 48px;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 32px;
  }
}
@media (max-width: 560px) {
  .hero__title {
    font-size: 24px;
  }
}
.hero__title span {
  color: #F8CC58;
}
.hero__text {
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  margin-top: 35px;
  margin-left: 95px;
  max-width: 480px;
  position: relative;
}
@media (max-width: 560px) {
  .hero__text {
    font-size: 12px;
    max-width: 265px;
    margin-left: 25px;
  }
}
.hero__text::before {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #F8CC58;
  position: absolute;
  right: calc(100% + 25px);
  top: 50%;
  translate: 0 -50%;
}
@media (max-width: 560px) {
  .hero__text::before {
    width: 15px;
    right: calc(100% + 10px);
    top: 20%;
    translate: 0 -20%;
  }
}
.hero__list {
  padding: 100px 0 88px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 84px 38px;
}
@media (max-width: 1000px) {
  .hero__list {
    padding: 50px 0 0 0;
  }
}
@media (max-width: 560px) {
  .hero__list {
    gap: 22px 10px;
  }
}
.hero__item {
  max-width: 225px;
}
.hero__item span {
  color: #F8CC58;
  text-shadow: 0px 4px 110px rgba(248, 204, 88, 0.5);
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 560px) {
  .hero__item span {
    font-size: 26px;
  }
}
@media (max-width: 430px) {
  .hero__item span {
    font-size: 20px;
  }
}
.hero__item p {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  max-width: 150px;
}
@media (max-width: 560px) {
  .hero__item p {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .hero__item p {
    font-size: 12px;
  }
}
.hero__img {
  width: 60%;
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0% -50%;
}
@media (max-width: 1000px) {
  .hero__img {
    position: relative;
    right: -20px;
    translate: 0 0;
    width: 100%;
  }
}
@media (max-width: 560px) {
  .hero__img {
    right: -35px;
  }
}
.hero__scroll {
  width: 31px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
}
@media (max-width: 1000px) {
  .hero__scroll {
    position: absolute;
    bottom: 15%;
    left: 50%;
    translate: -50% 0;
    z-index: 2;
  }
}
@media (max-width: 560px) {
  .hero__scroll {
    bottom: 5%;
  }
}
.hero__scroll path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hero__scroll:hover path {
  fill-opacity: 1;
}

.footer {
  padding-top: 103px;
  position: relative;
}
@media (max-width: 560px) {
  .footer {
    padding-top: 50px;
  }
}
.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url(../images/footer-bg.png) no-repeat center;
  mix-blend-mode: multiply;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 800px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__content {
  max-width: 210px;
  margin-right: 173px;
}
@media (max-width: 1000px) {
  .footer__content {
    margin-right: 60px;
  }
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 430px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}
.footer__logo:hover {
  scale: 1.1;
}
.footer__logo img {
  max-height: 36px;
}
@media (max-width: 560px) {
  .footer__logo img {
    max-height: 21px;
  }
}
.footer__text {
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 12px;
}
@media (max-width: 560px) {
  .footer__text {
    font-size: 10px;
    max-width: 140px;
  }
}
@media (max-width: 800px) {
  .footer__nav {
    margin-top: 16px;
  }
}
@media (max-width: 560px) {
  .footer__nav {
    width: 100%;
  }
}
.footer__nav--title {
  color: #F8CC58;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 430px) {
  .footer__nav--title {
    font-size: 14px;
  }
}
.footer__list {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px 70px;
}
@media (max-width: 1000px) {
  .footer__list {
    grid-gap: 30px 50px;
  }
}
@media (max-width: 560px) {
  .footer__list {
    margin-top: 15px;
    grid-gap: 10px;
  }
}
.footer__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__list--item .navigation__link::before, .footer__list--item .navigation__link::after {
  display: none;
}
@media (max-width: 430px) {
  .footer__list--item .navigation__link {
    font-size: 12px;
  }
}
.footer__contact {
  margin-left: auto;
}
@media (max-width: 800px) {
  .footer__contact {
    position: absolute;
    right: 20px;
    top: 55px;
  }
}
.footer .mail {
  margin-top: 24px;
  font-size: 14px;
  position: relative;
}
.footer .mail::before {
  height: 12px;
  background: url(/assets/images/icon/email.svg) no-repeat center;
  background-size: contain;
}
@media (max-width: 560px) {
  .footer .mail {
    margin-left: 0;
  }
}
@media (max-width: 430px) {
  .footer .mail {
    margin-top: 10px;
    font-size: 12px;
  }
  .footer .mail::before {
    height: 10px;
    width: 12px;
  }
}
.footer .copy {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  margin-top: 92px;
}
@media (max-width: 430px) {
  .footer .copy {
    padding: 20px 0;
  }
}
.footer .copy__text {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: "TTNorms";
  font-size: 13px;
}
@media (max-width: 430px) {
  .footer .copy__text {
    font-size: 10px;
  }
}
@media (max-width: 560px) {
  .footer .copy {
    margin-top: 15px;
  }
}

.about {
  position: relative;
  top: -68px;
}
@media (max-width: 560px) {
  .about {
    top: 0;
  }
}
.about::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  height: 2000px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url(../images/about-bg.png) no-repeat top;
  background-size: cover;
  background-position: 0 -300px;
  mix-blend-mode: multiply;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.about::after {
  content: "";
  display: block;
  width: 500px;
  height: 500px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -1;
  background: url(../images/tree/about.png) no-repeat center;
  background-size: cover;
}
@media (max-width: 560px) {
  .about::after {
    width: 300px;
    height: 300px;
    top: 30%;
  }
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 95px;
}
@media (max-width: 1000px) {
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 40px;
  }
}
.about__wrapper img {
  max-width: 445px;
}
@media (max-width: 560px) {
  .about__wrapper img {
    max-width: 290px;
    height: 415px;
  }
}
.about .section__title {
  margin-bottom: 72px;
}
@media (max-width: 1000px) {
  .about .section__title {
    text-align: center;
  }
}
@media (max-width: 430px) {
  .about .section__title {
    margin-bottom: 40px;
  }
}
.about .section__title::after {
  left: 0;
  bottom: -42px;
}
@media (max-width: 1000px) {
  .about .section__title::after {
    left: 50%;
    translate: -50% 0;
  }
}
@media (max-width: 430px) {
  .about .section__title::after {
    bottom: -20px;
  }
}
.about p {
  margin-bottom: 30px;
  font-family: "TTNorms";
  color: #FFF;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-size: 18px;
}
@media (max-width: 1000px) {
  .about p {
    text-align: center;
  }
}
@media (max-width: 430px) {
  .about p {
    font-size: 12px;
    margin-bottom: 20px;
  }
}
.about p:last-child {
  margin: 0;
}

.services {
  padding-top: 62px;
  position: relative;
}
@media (max-width: 560px) {
  .services {
    padding: 50px 0 0 0;
  }
}
.services::after {
  content: "";
  display: block;
  width: 500px;
  height: 700px;
  position: absolute;
  left: 0;
  top: 200px;
  z-index: -1;
  background: url(../images/tree/services.png) no-repeat center;
  background-size: cover;
}
@media (max-width: 560px) {
  .services::after {
    width: 300px;
    height: 500px;
    top: -200px;
  }
}
.services .section__title {
  text-align: center;
}
.services .section__title::after {
  left: 50%;
  translate: -50% 0;
  bottom: -30px;
}
@media (max-width: 430px) {
  .services .section__title::after {
    bottom: -20px;
  }
}
.services__list {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 30px;
}
@media (max-width: 800px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 560px) {
  .services__list {
    grid-gap: 30px 10px;
    margin-top: 70px;
  }
}
@media (max-width: 430px) {
  .services__list {
    margin-top: 50px;
  }
}
.services__item {
  padding: 34px 30px;
  position: relative;
  background: linear-gradient(224deg, rgba(255, 255, 255, 0.1) -25.17%, rgba(255, 255, 255, 0) 100%), rgba(32, 30, 40, 0.6);
}
@media (max-width: 560px) {
  .services__item {
    padding: 20px;
    min-height: 120px;
  }
}
@media (max-width: 430px) {
  .services__item {
    padding: 30px 12px 10px;
  }
}
.services__item span {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: -26px;
  translate: -50% 0;
  background-color: #F8CC58;
  border-radius: 50%;
}
@media (max-width: 560px) {
  .services__item span {
    width: 35px;
    height: 35px;
    top: -18px;
  }
  .services__item span img {
    width: 18px;
    height: 18px;
  }
}
.services__item h4 {
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
@media (max-width: 560px) {
  .services__item h4 {
    font-size: 3.3vw;
  }
}
@media (max-width: 430px) {
  .services__item h4 {
    font-size: 12px;
  }
}
.services__item p {
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
}
@media (max-width: 560px) {
  .services__item p {
    font-size: 3vw;
  }
}
@media (max-width: 430px) {
  .services__item p {
    font-size: 12px;
  }
}

.faq {
  padding-top: 130px;
  position: relative;
}
@media (max-width: 560px) {
  .faq {
    padding-top: 50px;
  }
}
.faq__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.faq__bg--left {
  position: absolute;
  left: 0;
  bottom: 10%;
}
@media (max-width: 560px) {
  .faq__bg--left {
    display: none;
  }
}
.faq__bg--right {
  position: absolute;
  right: 0;
}
@media (max-width: 560px) {
  .faq__bg--right {
    top: 100%;
  }
  .faq__bg--right img {
    width: 200px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.faq .section__title {
  text-align: center;
  margin-bottom: 102px;
}
@media (max-width: 560px) {
  .faq .section__title {
    margin-bottom: 70px;
  }
}
@media (max-width: 430px) {
  .faq .section__title {
    margin-bottom: 50px;
  }
}
.faq .section__title::after {
  left: 50%;
  bottom: -32px;
  translate: -50% 0;
}
@media (max-width: 430px) {
  .faq .section__title::after {
    bottom: -20px;
  }
}
.faq__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0 30px;
}
@media (max-width: 1000px) {
  .faq__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px 0;
  }
}
.faq__list#faq__list2 {
  counter-reset: item 4;
}
.faq__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  margin-top: 25px;
  position: relative;
  counter-increment: item;
  background: linear-gradient(260deg, rgba(255, 255, 255, 0.1) -12.6%, rgba(255, 255, 255, 0) 78.85%), rgba(32, 30, 40, 0.6);
  border: 1px solid #FFF;
  border-bottom: none;
  border-style: solid;
  border-width: 1px;
  -o-border-image: linear-gradient(to bottom, #444, transparent) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(transparent)) 1;
     border-image: linear-gradient(to bottom, #444, transparent) 1;
  -webkit-filter: drop-shadow(0px 3px 3.1121942997px rgba(0, 0, 0, 0.1)) drop-shadow(0px 7px 6.9220323563px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(0px 3px 3.1121942997px rgba(0, 0, 0, 0.1)) drop-shadow(0px 7px 6.9220323563px rgba(0, 0, 0, 0.12));
}
@media (max-width: 1000px) {
  .faq__item {
    margin-top: 15px;
  }
}
@media (max-width: 560px) {
  .faq__item {
    padding: 0 15px;
  }
}
.faq__item:first-child {
  margin-top: 0;
}
.faq__item:first-child h5 {
  max-width: 316px;
}
@media (max-width: 1000px) {
  .faq__item:first-child h5 {
    max-width: none;
  }
}
.faq__item::before {
  position: absolute;
  top: 16px;
  left: 20px;
  content: counter(item, decimal-leading-zero);
  font-size: 20px;
  text-transform: uppercase;
  background: radial-gradient(50% 50% at 50% 50%, #F8CC58 22.92%, rgba(248, 204, 88, 0.55) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 560px) {
  .faq__item::before {
    top: 14px;
  }
}
.faq__item.active .faq__btn::before, .faq__item.active .faq__btn::after {
  background: #F66350;
  -webkit-box-shadow: 0px 2px 4px 0px #000;
          box-shadow: 0px 2px 4px 0px #000;
}
.faq__item.active .faq__btn::after {
  rotate: 0deg;
}
.faq__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  max-width: 435px;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin: 0 20px 0 40px;
}
@media (max-width: 560px) {
  .faq__title {
    height: 50px;
    font-size: 12px;
  }
}
.faq__btn {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 24px;
  right: 10px;
  background: transparent;
  cursor: pointer;
}
@media (max-width: 560px) {
  .faq__btn {
    top: 19px;
  }
}
.faq__btn::before, .faq__btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  width: 14px;
  height: 2px;
  background: #FFF;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.faq__btn::after {
  rotate: 90deg;
}
.faq__btn:hover::before, .faq__btn:hover::after {
  background: #F66350;
  -webkit-box-shadow: 0px 2px 4px 0px #000;
          box-shadow: 0px 2px 4px 0px #000;
}
.faq__text {
  padding: 0px 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 14px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 560px) {
  .faq__text {
    font-size: 12px;
  }
}
.faq__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #FFF;
  opacity: 0.1;
}
.faq__text.open {
  visibility: visible;
  opacity: 1;
  padding: 20px 0;
  height: auto;
}
@media (max-width: 560px) {
  .faq__text.open {
    padding: 15px 0;
  }
}

.advertising {
  padding-top: 130px;
  position: relative;
}
@media (max-width: 560px) {
  .advertising {
    padding: 50px 0 0 0;
  }
}
.advertising__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (max-width: 1150px) {
  .advertising__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.advertising__img {
  position: absolute;
  right: 0;
  bottom: 0%;
}
@media (max-width: 1150px) {
  .advertising__img {
    position: relative;
  }
}
@media (max-width: 430px) {
  .advertising__img {
    position: absolute;
    top: 20px;
    bottom: auto;
    margin: 0 auto;
  }
}
.advertising__img::before {
  content: "";
  display: block;
  width: 206px;
  height: 37px;
  background: url(../images/adwa-decor.svg) no-repeat center;
  position: absolute;
  top: 20px;
  left: -50px;
}
@media (max-width: 1150px) {
  .advertising__img::before {
    width: 46px;
    height: 71px;
    background: url(../images/adwa-decor2.svg) no-repeat center;
    top: 0;
    left: 100%;
  }
}
@media (max-width: 768px) {
  .advertising__img::before {
    left: auto;
    right: 0;
  }
}
@media (max-width: 430px) {
  .advertising__img::before {
    top: -30px;
    right: -10px;
  }
}
.advertising__img img {
  width: 100%;
}
@media (max-width: 430px) {
  .advertising__img img {
    width: 193px;
  }
}
.advertising .section__title {
  max-width: 560px;
}
@media (max-width: 1150px) {
  .advertising .section__title {
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 560px) {
  .advertising .section__title {
    font-size: 6.8vw;
  }
}
.advertising .section__title::after {
  bottom: -22px;
}
@media (max-width: 1150px) {
  .advertising .section__title::after {
    left: 50%;
    translate: -50% 0;
  }
}
.advertising__content {
  max-width: 560px;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 38px;
  padding: 37px 45px;
  border-radius: 10px;
  border: 2px dashed rgba(255, 255, 255, 0.1);
}
@media (max-width: 1150px) {
  .advertising__content {
    margin-top: 0px;
  }
}
@media (max-width: 768px) {
  .advertising__content {
    padding: 22px 24px;
  }
}
@media (max-width: 430px) {
  .advertising__content {
    margin-top: 140px;
    gap: 18px;
    padding: 22px 20px;
  }
}
@media (max-width: 560px) {
  .advertising__content img {
    width: 40px;
  }
}
@media (max-width: 430px) {
  .advertising__content img {
    width: 32px;
  }
}
.advertising__desc {
  max-width: 355px;
}
.advertising__desc h3 {
  color: #F8CC58;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 560px) {
  .advertising__desc h3 {
    font-size: 4.4vw;
  }
}
.advertising__desc p {
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 18px;
}
@media (max-width: 560px) {
  .advertising__desc p {
    font-size: 3vw;
  }
}
@media (max-width: 430px) {
  .advertising__desc p {
    font-size: 12px;
    margin-top: 8px;
  }
}

.purpose {
  padding-top: 130px;
  position: relative;
}
@media (max-width: 560px) {
  .purpose {
    padding: 50px 0 0 0;
  }
}
.purpose::after {
  content: "";
  display: block;
  width: 550px;
  height: 700px;
  position: absolute;
  right: 0;
  top: -100px;
  z-index: -1;
  background: url(../images/tree/purpose.png) no-repeat center;
  background-size: cover;
}
@media (max-width: 560px) {
  .purpose::after {
    width: 300px;
    height: 500px;
    bottom: 280%;
    top: auto;
  }
}
@media (max-width: 430px) {
  .purpose::after {
    bottom: 200%;
  }
}
.purpose .section__title {
  text-align: center;
  margin-bottom: 72px;
}
@media (max-width: 560px) {
  .purpose .section__title {
    margin-bottom: 50px;
  }
}
.purpose .section__title::after {
  bottom: -22px;
  left: 50%;
  translate: -50% 0%;
}
@media (max-width: 560px) {
  .purpose .section__title::after {
    bottom: -20px;
  }
}
.purpose__content {
  padding: 25px 20px 35px;
  position: relative;
  z-index: 1;
}
@media (max-width: 560px) {
  .purpose__content {
    padding: 30px;
  }
}
.purpose__content::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/texturefabrik.png) no-repeat center;
  border-radius: 10px;
  border: 1px solid #444;
  border-bottom: 1px solid transparent;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-filter: contrast(0.5);
          filter: contrast(0.5);
  z-index: -1;
}
.purpose__content h3 {
  color: #F8CC58;
  text-align: center;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 430px) {
  .purpose__content h3 {
    font-size: 6.8vw;
  }
}
@media (max-width: 430px) {
  .purpose__content h3 {
    font-size: 16px;
  }
}
.purpose__content p {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  max-width: 1000px;
  margin: 17px auto 0;
}
@media (max-width: 430px) {
  .purpose__content p {
    font-size: 2.9vw;
  }
}
@media (max-width: 430px) {
  .purpose__content p {
    margin-top: 15px;
    font-size: 12px;
  }
}
.purpose__content .decor {
  position: absolute;
}
.purpose__content .decor1 {
  top: 20px;
  left: 20px;
}
.purpose__content .decor2 {
  top: 20px;
  right: 20px;
  rotate: 90deg;
}
.purpose__content .decor3 {
  bottom: 20px;
  left: 20px;
  rotate: -90deg;
}
.purpose__content .decor4 {
  bottom: 20px;
  right: 20px;
  rotate: 180deg;
}

.success {
  padding-top: 130px;
  position: relative;
}
@media (max-width: 560px) {
  .success {
    padding-top: 50px;
  }
}
.success::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  height: 2500px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url(../images/success-bg.png) no-repeat top;
  background-size: cover;
  background-position: 0 -200px;
  mix-blend-mode: multiply;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.success::after {
  content: "";
  display: block;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 0%;
  top: 30%;
  z-index: -1;
  background: url(../images/tree/success.png) no-repeat center;
  background-size: cover;
}
@media (max-width: 560px) {
  .success::after {
    display: none;
  }
}
.success .section__title {
  text-align: center;
  margin-bottom: 102px;
}
@media (max-width: 560px) {
  .success .section__title {
    margin-bottom: 70px;
  }
}
.success .section__title::after {
  bottom: -32px;
  left: 50%;
  translate: -50% 0;
}
.success__list {
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .success__list {
    gap: 20px;
  }
}
@media (max-width: 430px) {
  .success__list {
    gap: 10px;
  }
}
.success__item {
  position: relative;
  width: 30%;
  max-width: 255px;
  min-width: 140px;
  min-height: 140px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (max-width: 560px) {
  .success__item {
    width: 45%;
  }
}
.success__item:hover::after {
  background: rgba(9, 10, 18, 0.6);
  -webkit-backdrop-filter: blur(13.5px);
          backdrop-filter: blur(13.5px);
}
.success__item:hover .success__desc {
  padding: 25px;
}
@media (max-width: 768px) {
  .success__item:hover .success__desc {
    padding: 20px 15px;
  }
}
@media (max-width: 560px) {
  .success__item:hover .success__desc {
    padding: 30px 15px;
  }
}
@media (max-width: 430px) {
  .success__item:hover .success__desc {
    padding: 15px;
  }
}
.success__item:hover .price {
  text-align: center;
}
@media (max-width: 768px) {
  .success__item:hover .price {
    margin-bottom: 0px;
  }
}
.success__item:hover .more {
  visibility: visible;
  opacity: 1;
  height: auto;
  overflow: visible;
  margin-top: 20px;
}
.success__item:hover h5, .success__item:hover p {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
.success__item::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.success__item .sold {
  position: absolute;
  top: -46px;
  right: -49px;
  z-index: 1;
}
@media (max-width: 560px) {
  .success__item .sold {
    width: 140px;
    top: -36px;
    right: -38px;
  }
}
.success__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.7;
}
.success__desc {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 27px 20px 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .success__desc {
    padding: 13px 8px 10px;
  }
}
.success__desc .price {
  margin-bottom: auto;
  width: 100%;
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .success__desc .price {
    font-size: 3vw;
  }
}
@media (max-width: 560px) {
  .success__desc .price {
    font-size: 4vw;
  }
}
.success__desc h5 {
  color: #FFF;
  font-family: "TTNorms";
  font-weight: 700;
}
@media (max-width: 1000px) {
  .success__desc h5 {
    width: 75%;
    min-width: 75px;
  }
}
@media (max-width: 768px) {
  .success__desc h5 {
    font-size: 2.4vw;
  }
}
@media (max-width: 560px) {
  .success__desc h5 {
    font-size: 3.5vw;
  }
}
.success__desc p {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 14px;
}
@media (max-width: 768px) {
  .success__desc p {
    font-size: 1.8vw;
  }
}
@media (max-width: 560px) {
  .success__desc p {
    font-size: 2.8vw;
  }
}
.success .more {
  max-width: 93px;
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFF;
  font-family: "TTNorms";
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  margin: 0px auto;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .success .more {
    font-size: 12px;
  }
}
@media (max-width: 430px) {
  .success .more {
    margin-top: 10px;
    font-size: 10px;
  }
}
.success .more img {
  margin-bottom: 11px;
}
@media (max-width: 768px) {
  .success .more img {
    width: 40px;
  }
}
@media (max-width: 560px) {
  .success .more img {
    width: 30px;
  }
}
.success .more:hover {
  scale: 1.1;
}

.process {
  padding-top: 130px;
  position: relative;
}
@media (max-width: 560px) {
  .process {
    padding: 50px 0 0 0;
  }
}
.process::after {
  content: "";
  display: block;
  width: 500px;
  height: 500px;
  position: absolute;
  right: 0%;
  top: 30%;
  z-index: -1;
  background: url(../images/tree/process.png) no-repeat center;
  background-size: cover;
}
@media (max-width: 560px) {
  .process::after {
    display: none;
  }
}
.process .section__title {
  text-align: center;
  margin-bottom: 82px;
}
@media (max-width: 560px) {
  .process .section__title {
    margin-bottom: 60px;
  }
}
@media (max-width: 430px) {
  .process .section__title {
    margin-bottom: 40px;
  }
}
.process .section__title::after {
  bottom: -32px;
  left: 50%;
  translate: -50% 0%;
}
@media (max-width: 430px) {
  .process .section__title::after {
    bottom: -20px;
  }
}
.process__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 115px 30px;
}
@media (max-width: 1000px) {
  .process__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .process__list {
    grid-gap: 48px 18px;
  }
}
@media (max-width: 430px) {
  .process__list {
    grid-gap: 48px 10px;
  }
}
.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 20px;
}
@media (max-width: 560px) {
  .process__item {
    padding: 0;
  }
}
.process__item::after {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  background: url(/assets/images/icon/Line2.svg) no-repeat center;
  position: absolute;
  top: 40px;
  right: -25px;
}
@media (max-width: 430px) {
  .process__item::after {
    width: 10px;
    height: 8px;
    background-size: cover;
  }
}
.process__item:last-child::after {
  display: none;
}
.process__item:nth-child(3):after {
  top: calc(100% + 45px);
  right: 50%;
  translate: 50% 0;
  rotate: 90deg;
}
.process__item:nth-child(4):after, .process__item:nth-child(5):after {
  rotate: 180deg;
}
@media (max-width: 1000px) {
  .process__item:nth-child(2)::after {
    top: calc(100% + 45px);
    right: 50%;
    translate: 50% 0;
    rotate: 90deg;
  }
  .process__item:nth-child(4)::after {
    right: auto;
    left: -25px;
  }
  .process__item:nth-child(5)::after {
    rotate: 0deg;
  }
}
@media (max-width: 768px) {
  .process__item:nth-child(2)::after, .process__item:nth-child(3)::after {
    top: calc(100% + 15px);
  }
  .process__item:nth-child(1)::after, .process__item:nth-child(5)::after {
    right: auto;
    left: 100%;
  }
  .process__item:nth-child(4)::after {
    left: auto;
    right: 100%;
  }
}
@media (max-width: 560px) {
  .process__item:nth-child(1)::after, .process__item:nth-child(4)::after, .process__item:nth-child(5)::after {
    top: 15px;
  }
}
.process__item img {
  max-width: 80px;
}
@media (max-width: 768px) {
  .process__item img {
    max-width: 60px;
  }
}
@media (max-width: 560px) {
  .process__item img {
    max-width: 37px;
  }
}
.process__item p {
  margin-top: 20px;
  text-align: center;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .process__item p {
    font-size: 16px;
  }
}
@media (max-width: 560px) {
  .process__item p {
    margin-top: 10px;
    max-width: 150px;
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .process__item p {
    font-size: 12px;
    max-width: 125px;
  }
}

.reviews {
  padding-top: 130px;
  position: relative;
}
@media (max-width: 560px) {
  .reviews {
    padding-top: 50px;
  }
}
.reviews::after {
  content: "";
  display: block;
  width: 500px;
  height: 700px;
  position: absolute;
  left: 0%;
  top: -20%;
  z-index: -1;
  background: url(../images/tree/reviews.png) no-repeat center;
  background-size: cover;
}
@media (max-width: 560px) {
  .reviews::after {
    display: none;
  }
}
.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__content {
  max-width: 330px;
}
@media (max-width: 768px) {
  .reviews__content {
    margin-right: 10px;
  }
}
@media (max-width: 560px) {
  .reviews__content {
    max-width: 50%;
  }
}
.reviews__content p {
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 18px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .reviews__content p {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .reviews__content p {
    font-size: 12px;
  }
}
.reviews__content p:last-child {
  margin: 0;
}
.reviews .section__title {
  margin-bottom: 52px;
}
@media (max-width: 430px) {
  .reviews .section__title {
    margin-bottom: 40px;
  }
}
.reviews .section__title::after {
  bottom: -22px;
}
@media (max-width: 430px) {
  .reviews .section__title::after {
    bottom: -20px;
  }
}
.reviews .arrows__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}
@media (max-width: 430px) {
  .reviews .arrows__slider {
    gap: 5px;
  }
}
.reviews .arrows__slider .slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 49px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 6px;
  background: linear-gradient(224deg, rgba(255, 255, 255, 0.1) -71.23%, rgba(255, 255, 255, 0) 94.99%), #201E28;
  border: 1px solid #444;
  border-bottom: 1px solid transparent;
  -webkit-filter: drop-shadow(0px 3px 3.1121942997px rgba(0, 0, 0, 0.1)) drop-shadow(0px 7px 6.9220323563px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(0px 3px 3.1121942997px rgba(0, 0, 0, 0.1)) drop-shadow(0px 7px 6.9220323563px rgba(0, 0, 0, 0.12));
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
@media (max-width: 768px) {
  .reviews .arrows__slider .slick-arrow {
    width: 50px;
    height: 40px;
  }
}
@media (max-width: 560px) {
  .reviews .arrows__slider .slick-arrow {
    width: 42px;
    height: 34px;
  }
}
@media (max-width: 430px) {
  .reviews .arrows__slider .slick-arrow {
    width: 33px;
    height: 27px;
  }
}
@media (max-width: 768px) {
  .reviews .arrows__slider .slick-arrow svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 430px) {
  .reviews .arrows__slider .slick-arrow svg {
    width: 13px;
    height: 13px;
  }
}
.reviews .arrows__slider .slick-arrow svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.reviews .arrows__slider .slick-arrow:hover {
  background: linear-gradient(235deg, rgba(0, 0, 0, 0.1) 5.85%, rgba(0, 0, 0, 0) 99.33%), #F8CC58;
  border: 1px solid #F8CC58;
}
.reviews .arrows__slider .slick-arrow:hover svg path {
  stroke: #0F0E13;
}
.reviews .arrows__slider .slick-prev svg path {
  stroke: #FFF;
}
.reviews .arrows__slider .slick-disabled {
  opacity: 0.5;
  cursor: default;
}
.reviews .arrows__slider .slick-disabled:hover {
  background: linear-gradient(224deg, rgba(255, 255, 255, 0.1) -71.23%, rgba(255, 255, 255, 0) 94.99%), #201E28;
  border: 1px solid #444;
  border-bottom: none;
}
.reviews .arrows__slider .slick-disabled:hover svg path {
  stroke: #FFF;
}
.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 655px;
}
@media (max-width: 1000px) {
  .reviews__list {
    max-width: 50%;
    width: auto;
  }
}
.reviews__item {
  width: 310px;
  min-height: 419px;
  margin-right: 35px;
  padding: 30px 30px 87px;
  background: linear-gradient(224deg, rgba(255, 255, 255, 0.1) -25.17%, rgba(255, 255, 255, 0) 100%), rgba(32, 30, 40, 0.6);
  -webkit-box-shadow: 0px 3px 3.11219px 0px rgba(0, 0, 0, 0.1), 0px 7px 6.92203px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 3.11219px 0px rgba(0, 0, 0, 0.1), 0px 7px 6.92203px 0px rgba(0, 0, 0, 0.12);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
@media (max-width: 1000px) {
  .reviews__item {
    width: 250px;
    min-height: 400px;
    opacity: 0.5;
    padding: 20px 20px 50px;
  }
  .reviews__item.slick-current {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .reviews__item {
    padding: 20px 15px;
    margin-right: 20px;
    width: 200px;
    min-height: 350px;
  }
}
@media (max-width: 560px) {
  .reviews__item {
    width: 180px;
    min-height: 370px;
  }
}
@media (max-width: 430px) {
  .reviews__item {
    width: 140px;
    min-height: 300px;
    padding: 12px 10px;
    margin-right: 10px;
  }
}
.reviews__item p {
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  margin-top: 20px;
  opacity: 0.6;
}
@media (max-width: 768px) {
  .reviews__item p {
    margin-top: 15px;
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .reviews__item p {
    margin-top: 12px;
    font-size: 12px;
  }
}
.reviews__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__author .reviews__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.2;
}
@media (max-width: 1000px) {
  .reviews__author .reviews__img {
    width: 52px;
    height: 52px;
  }
}
@media (max-width: 768px) {
  .reviews__author .reviews__img {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 430px) {
  .reviews__author .reviews__img {
    width: 30px;
    height: 30px;
  }
}
.reviews__info {
  margin-left: 15px;
}
@media (max-width: 430px) {
  .reviews__info {
    margin-left: 7px;
  }
}
.reviews__info h5 {
  font-family: "TTNorms";
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 560px) {
  .reviews__info h5 {
    font-size: 12px;
  }
}
.reviews__info span {
  color: rgba(255, 255, 255, 0.6);
  font-family: "TTNorms";
  font-size: 12px;
  opacity: 0.6;
}
@media (max-width: 560px) {
  .reviews__info span {
    font-size: 12px;
  }
}

.reasons {
  padding-top: 130px;
  position: relative;
}
@media (max-width: 560px) {
  .reasons {
    padding-top: 50px;
  }
}
.reasons::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  height: 2000px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url(../images/reasons-bg.png) no-repeat top;
  background-size: cover;
  background-position: 0 -200px;
  mix-blend-mode: multiply;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
@media (max-width: 560px) {
  .reasons::before {
    height: 2000px;
  }
}
@media (max-width: 430px) {
  .reasons::before {
    height: 1500px;
  }
}
.reasons__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (max-width: 560px) {
  .reasons__bg {
    display: none;
  }
}
.reasons__bg--left {
  position: absolute;
  left: 0;
  top: 50%;
}
.reasons__bg--right {
  position: absolute;
  right: 0;
}
.reasons .section__title {
  text-align: center;
  margin-bottom: 102px;
}
@media (max-width: 560px) {
  .reasons .section__title {
    margin-bottom: 60px;
  }
}
@media (max-width: 430px) {
  .reasons .section__title {
    margin-bottom: 40px;
  }
}
.reasons .section__title::after {
  left: 50%;
  bottom: -32px;
  translate: -50% 0;
}
@media (max-width: 430px) {
  .reasons .section__title::after {
    bottom: -20px;
  }
}
.reasons__list {
  counter-reset: item;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px 79px;
}
@media (max-width: 768px) {
  .reasons__list {
    gap: 20px 10px;
  }
}
.reasons__item {
  padding-top: 46px;
  position: relative;
}
@media (max-width: 768px) {
  .reasons__item {
    padding-top: 40px;
  }
}
@media (max-width: 560px) {
  .reasons__item {
    padding-top: 30px;
  }
}
.reasons__item::before {
  position: absolute;
  top: 0;
  left: 0;
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  text-shadow: 0px 4px 110px rgba(255, 255, 255, 0.3);
  font-size: 64px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(75.32%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0) 75.32%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .reasons__item::before {
    font-size: 48px;
  }
}
@media (max-width: 560px) {
  .reasons__item::before {
    font-size: 38px;
  }
}
@media (max-width: 430px) {
  .reasons__item::before {
    font-size: 32px;
  }
}
.reasons__item img {
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
}
@media (max-width: 768px) {
  .reasons__item img {
    width: 120px;
  }
}
@media (max-width: 560px) {
  .reasons__item img {
    width: 82px;
  }
}
.reasons__item h4 {
  margin: 23px 0 15px;
  color: #F66350;
  font-size: 30px;
  text-transform: capitalize;
}
@media (max-width: 1000px) {
  .reasons__item h4 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .reasons__item h4 {
    font-size: 20px;
    margin: 16px 0 10px;
  }
}
@media (max-width: 430px) {
  .reasons__item h4 {
    font-size: 14px;
  }
}
.reasons__item p {
  max-width: 360px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
}
@media (max-width: 768px) {
  .reasons__item p {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .reasons__item p {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */